@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    @apply bg-[#28293e] text-white;
}

h1, h2, h3{
    @apply font-extrabold;
}

h1{
    font-size: 4.5rem;
    line-height: 5rem;
    letter-spacing: -2px;
}

h2{
    font-size: 3.5rem;
    line-height: 4rem;
    letter-spacing: -1px;
}

h3{
    font-size: 2.5rem;
    line-height: 3rem;
}

h4{
    @apply font-bold;
    font-size: 1.5rem;
    line-height: 2rem;
}

h5{
    font-size: 1rem;
    line-height: 2rem;
}

p{
    line-height: 2rem;
}

a{
    display: inline-block;
}

hr{
    @apply my-14 border-[#3A3C56];
}

.title-tag {
    @apply text-accent tracking-[3px] uppercase;
}


/* Burger menu */

#burgerMenu{
    padding: 0.8rem 0.9rem;
    position: relative;
    z-index: 2;
    border: 2px solid rgba(255, 255, 255, 0.295743);
    border-radius: 6px;
    cursor: pointer;
    @apply lg:hidden;
}

#burgerMenu .burger-line{
    @apply h-[2px] w-4 mx-auto bg-white;
    border-radius: 1px;
    transition: all 0.3s ease;
}

#burgerMenu .burger-line:not(.burger-line:last-of-type){
    @apply mb-[6px];
}

/* Burger menu toggled */

#burgerMenu.active .burger-line:nth-child(1){
    transform: translateY(8px) rotate(45deg);
}

#burgerMenu.active .burger-line:nth-child(2){
    @apply opacity-0;
}

#burgerMenu.active .burger-line:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
}

/* Nav list */

#navList{
    @apply w-screen pl-14 pt-24 hidden absolute top-0 left-0 bottom-0 opacity-[.97] text-2xl bg-[#28293e];
    @apply lg:w-[515px] lg:p-0 lg:flex lg:justify-between lg:static lg:opacity-100 lg:text-base;
    z-index: 1;
}

/* Nav list toggled */

#navList.active{
    @apply block;
}

.testimonial-card {
    @apply max-w-[586px] xl:w-[586px] xl:h-[336px] py-12 px-7 lg:px-12 flex flex-col justify-center bg-white border border-[#F3D1BF];
}

.pricing-plan-card {
    @apply h-[33.125rem] py-11 px-7 flex flex-col items-start justify-between border border-beige;
}

.pricing-plan-card:first-child {
    @apply rounded-t-md lg:rounded-tr-none lg:rounded-bl-md;
}

.pricing-plan-card:nth-child(2) {
    @apply h-[37.5rem] lg:pt-10 lg:rounded-t-md bg-white;
}

.pricing-plan-card:last-child {
    @apply rounded-b-md lg:rounded-bl-none lg:rounded-tr-md;
}