@tailwind base;
@tailwind components;
@tailwind utilities;

a{
    display: inline-block;
}

/* Burger menu */

.burger-menu{
    padding: 0.8rem 0.9rem;
    border: 2px solid rgba(255, 255, 255, 0.295743);
    border-radius: 6px;
    cursor: pointer

}

.burger-menu .burger-line{
    height: 2px;
    width: 16px;
    margin-inline: auto;
    border-radius: 1px;
    background-color: white;
    transition: all 0.3s ease;
}

.burger-menu .burger-line:not(.burger-line:last-of-type){
    margin-bottom: 6px;
}

/* Burger menu toggled */

.burger-menu.active .burger-line:nth-child(1){
    transform: translateY(8px) rotate(45deg);
}

.burger-menu.active .burger-line:nth-child(2){
    opacity: 0;
}

.burger-menu.active .burger-line:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
}

/* Nav list */

.nav-list{
    @apply w-screen pl-6 pt-24 hidden absolute top-0 left-0 bottom-0 opacity-[.97] text-2xl bg-[#28293e];
}

/* Nav list toggled */

.nav-list.active{
    display: block;
}